:root {
    --color-primary: rgb(82, 139, 101);
    --color-text: rgb(235, 248, 255);
    --color-secondary: rgb(169,169,169);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background: var(--color-primary);
    color: var(--color-text);
    padding: 1em;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

canvas {
    margin: 1em 0;
    border: solid 1px black;
    background: var(--color-text);
    width: 700px;
    height: 700px;
}

input, button {
    padding: .2rem .4rem;
    margin: 1em 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}

#sidepanel {
    border: 1px solid black;
    width: 400px;
    height: 800px;
}

#centrepanel {
    border: 1px solid red;
    width: 700px;
    height: 800px;
    margin: 0 1em;
}

 .holder {
    background-color: var(--color-secondary);
    border-radius: 0.5em;
    box-shadow: 3px 3px #696969;
 }
